<% @product.images.each do |image| %>
<div>
<% p @product.images %>
<img src ="<%= image.url %>"></div><% end %>
<h3>Price: <%= @product.price %></h3>
<h3>Tax: <%= @product.tax %></h3>
<h3>Total: <%= @product.total %></h3>
<h3>Supplied by <%= @product.supplier.name %></h3>
<% @product.categories.each do |category| %>
<h3>Good for <%= category.name %></h3>
<% end %>

<%= link_to "Delete", "/products/#{@product.id}", method: :delete %>
<%= link_to "Edit", "/products/#{@product.id}/edit", method: :get %>
<div><%= form_tag '/orders', method: :post do %>
  <h3><%= label_tag :qty, "Quantity" %>
  <%= text_field_tag :qty %></h3>
    <h3><%= label_tag :product_id, "Product ID" %>
  <%= text_field_tag :product_id %></h3>
  <%= submit_tag "Checkout" %>
<% end %></div>
<!-- <a class="btn btn-default" href="#" role="button">Order Now!</a> -->
