<h1>New Supplier!!  Add info below</h1>
<%= form_for @supplier do |f| %>
<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div>
  <%= f.label :company_name %>
  <%= f.text_field :company_name %>
</div>
<div>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</div>
<%= f.submit %>
<% end %>
